<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logins</servlet-name>
        <servlet-class>Logins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>genpassword</servlet-name>
        <servlet-class>genpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Logouts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUsers</servlet-name>
        <servlet-class>admin.adminUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logouts</servlet-name>
        <servlet-class>connections.logouts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>connections.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>genUserPassword</servlet-name>
        <servlet-class>ciphers.genUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadadminreport</servlet-name>
        <servlet-class>admin.downloadadminreport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medicUser</servlet-name>
        <servlet-class>medic.medicUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadmedicreport</servlet-name>
        <servlet-class>medic.downloadmedicreport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logins</servlet-name>
        <url-pattern>/Logins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genpassword</servlet-name>
        <url-pattern>/genpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUsers</servlet-name>
        <url-pattern>/adminUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logouts</servlet-name>
        <url-pattern>/logouts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genUserPassword</servlet-name>
        <url-pattern>/genUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadadminreport</servlet-name>
        <url-pattern>/downloadadminreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medicUser</servlet-name>
        <url-pattern>/medicUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadmedicreport</servlet-name>
        <url-pattern>/downloadmedicreport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
