/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 7, 2020, 12:51:01 PM
    Author     : Shymu
*/
    body{
        /*background-color:#77B5ED ;*/
        font-size: 12px;
    }
    tr.odd {
        background-color: white;
    }

    tr.even {
        background-color: white;
    }
    tr.oddun {
        background-color: #FF9200;
    }

    tr.evenun {
        background-color: #FFA800;
    }
    tr.oddsun {
        background-color: #D5B22E;
    }

    tr.evensun {
        background-color: #D5B276;
    }
    tr.oddunc{
        background-color: #B95C5C;
    }
    .mid{
        padding: 5px;
        font-size: 15px;
        font-weight: bold;
    }
     .toppedmenu {
               width: 100%;
               padding: 5px;
               background-color: white ;
           }
            .toppedmenu ul {
                margin: 0px;
                padding: 0px;

                list-style: none;
            }
             .toppedmenu ul li{
                /*width: 180px;
                height: 50px;*/
                /*background-color:  ;*/
                line-height: 40px;
                text-align: center;
                display: inline-block;
             }
             .toppedmenu ul li a{
                text-decoration: none;
                color: black;
                display: block;
                /*padding: 5px;*/
                font-size: 18px;
             }
             .toppedmenu ul li a:hover{
                background-color: #77B5ED;
                border: 1px grey solid;
                border-radius: 10px 15px 15px 10px;
             }

             .mainmenus ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
            }
             .mainmenus ul li{
                float: left;
                width: 200px;
                height: 60px;
                background-color: #77B5ED ;
                line-height: 60px;
                text-align: center;
                font-size: 20px;
             }
             .mainmenus ul li a{
                text-decoration: none;
                color:white;
                font-weight: bold;
                display: block;
             }
             .mainmenus ul li a:hover{
                background-color: green;
             }
             .mainmenus ul li ul li{
                display: none;
             }
             .mainmenus ul li:hover ul li{
                display: block;
                z-index: 99999999;
             }
             .mainmenus ul li:hover ul li ul li{
                display: none;
             }
             .mainmenus ul li:hover ul li:hover ul{
                margin-top: -60px;
             }
             .mainmenus ul li:hover ul li:hover ul li{
                display: block;
                left:150px;
                position: relative;
                margin: 0px;
                width: 200px;
                background-color:#77B5ED ;
                z-index: 1;
             }
     #mydivmodal {
      /*position: absolute;*/
      z-index: 9;
      background-color: #f1f1f1;
      border: 1px solid #d3d3d3;
      /*text-align: center;*/
    }

    #mydivmodalheader {
      padding: 10px;
      cursor: move;
      z-index: 10;
      background-color: #2196F3;
      color: #fff;
    }
    #mydivmodalbig {
      /*position: absolute;*/
      /*z-index: 9;*/
      background-color: #f1f1f1;
      border: 1px solid #d3d3d3;
      /*text-align: center;*/
    }

    #mydivmodalbigheader {
      padding: 10px;
      cursor: move;
      /*z-index: 10;*/
      background-color: #2196F3;
      color: #fff;
    }
    .container{
        background-color: #afe;
    }

